server:
   # I do not care to mess around with chroot
   chroot: ""

   # if given, user privileges are dropped (after binding port),
   # and the given username is assumed. Default is user "unbound".
   # If you give "" no privileges are dropped.
   username: "{{ unbound.user }}"

   {# in apt install, logfile does not really work - unbound always says -#}
   {# "Could not open logfile /var/log/unbound.log: Permission denied" -#}
   {# https://github.com/NLnetLabs/unbound/issues/578 -#}
   {# https://stackoverflow.com/questions/78006360/my-unbound-instance-doesnt-write-on-the-logfile -#}
   # to tail the log, use systemd journal:
   # sudo journalctl -f -u unbound.service
   # the log file, "" means log to stderr. Use of this option sets use-syslog to "no".
   logfile: "{{ unbound.config.server.logfile }}"
   verbosity: {{ unbound.config.server.log_verbosity }}
   log-queries: {{ unbound.config.server.log_queries }}
   # print UTC timestamp in ascii to logfile, default is epoch in seconds.
   log-time-ascii: {{ unbound.config.server.log_time_ascii }}
   # print log lines that say why queries return SERVFAIL to clients.
   log-servfail: {{ unbound.config.server.log_servfail }}

   {% for interface in unbound.config.server.interface |  list -%}
   {{ 'interface: "' + interface + '"' }}
   {% endfor -%}
   port: {{ unbound.config.server.port }}
   do-ip4: {{ unbound.config.server.do_ip4 }}
   do-udp: {{ unbound.config.server.do_udp }}
   do-tcp: {{ unbound.config.server.do_tcp }}

   # May be set to yes if you have IPv6 connectivity
   do-ip6: {{ unbound.config.server.do_ip6 }}

   # Use this only when you downloaded the list of primary root servers!
   root-hints: "{{ unbound.dir.run }}/root.hints"

   # Detach from the terminal, run in background, "yes" or "no".
   # Set the value to "no" when Unbound runs as systemd service.
   do-daemonize: no

   # Harden against out of zone rrsets, to avoid spoofing attempts.
   harden-glue: yes

   {# TTL bounds for cache -#}
   # the time to live (TTL) value lower bound, in seconds. Default 0.
   # If more than an hour could easily give trouble due to stale data.
   cache-min-ttl: {{ unbound.config.server.cache_min_ttl }}
   # the time to live (TTL) value cap for RRsets and messages in the
   # cache. Items are not cached for longer. In seconds.
   cache-max-ttl: {{ unbound.config.server.cache_max_ttl }}

   # Perform prefetching of close to expired message cache entries
   # This only applies to domains that have been frequently queried
   # If yes, message cache elements are prefetched before they expire to keep the cache up to date.
   # Turning it on gives about 10 percent more traffic and load on the machine, but
   # popular items do not expire from the cache.
   # (default is no)
   {# NOTE prefectch in combination with subnet iterator is causing a warning in the log -#}
   prefetch: yes

   # buffer size for UDP port 53 incoming (SO_RCVBUF socket option).
   # 0 is system default. Use 4m to catch query spikes for busy servers.
   so-rcvbuf: {{ unbound.config.server.so_rcvbuf }}
   # buffer size for UDP port 53 outgoing (SO_SNDBUF socket option).
   # 0 is system default. Use 4m to handle spikes on very busy servers.
   so-sndbuf: {{ unbound.config.server.so_sndbuf }}

   # number of threads to create. 1 disables threading
   num-threads: {{ unbound.config.server.num_threads }}

   # use SO_REUSEPORT to distribute queries over threads.
   # at extreme load it could be better to turn it off to distribute even.
   {% if unbound.config.server.so_reuseport | bool -%}
   so-reuseport: {{ unbound.config.server.so_reuseport }}
   {% endif %}

   # the amount of memory to use for the message cache.
   # plain value in bytes or you can append k, m or G. default is "4Mb".
   msg-cache-size: {{ unbound.config.server.msg_cache_size }}
   # as recommended by upstream, set rrset = 2 * msg
   rrset-cache-size: {{ (2 * ( unbound.config.server.msg_cache_size[:-1] | int )) | string + "m" }}

   # Ensure privacy of local IP ranges
   {% for pvtaddr in unbound.config.server.private_address |  list -%}
   {{ 'private-address: "' + pvtaddr + '"' }}
   {% endfor -%}
