[Unit]
Description=Unbound DNS server
Documentation=man:unbound(8)
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=simple
Restart=on-failure
{#
   -d Debug flag: do not fork into the background, but stay attached to the console.
      This flag will also delay writing to the log file until the thread-spawn time,
      so that most config and setup errors appear on stderr. If given twice or more,
      logging does not switch to the log file or to syslog, but the log messages are
      printed to stderr all the time.
   -p Don't use a pidfile. This argument should only be used by supervision systems
      which can ensure that only one instance of Unbound will run concurrently.
#}
ExecStart={{ unbound.prefix }}/sbin/unbound -p -c {{ unbound_path_config_with_prefix }}
ExecReload=+/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
